body{
    /* background-color: rgb(9, 0, 15); */
    background-image: linear-gradient(to right, rgb(31, 0, 51), rgb(9, 0, 15), rgb(9, 0, 15), rgb(31, 0, 51));
    overflow-x: hidden;
}
.about-me{
    height: 300px;
    width: 600px;
}
.name-of-me{
    font-size: 60px;
    color: rgb(255, 106, 25);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10;
    position: absolute;
    top: 250px;
    left: 450px;
}
p{
    color: antiquewhite;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 350px;
    left: 490px;
}
.main-img{
    width: 100%;
    scale: 1.02;

    animation: main-img-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}
@keyframes main-img-animation{
    75%, 100%{opacity: 0; scale: 3;}
}
.my-img{
    position: absolute;
    width: 270px;
    top: 290px;
    left: 210px;
    border-radius: 20% 0% 20% 0%;
}
.ss1{
    position: absolute;
    width: 500px;
    left: 100px;
}
.ss2{
    position: absolute;
    width: 500px;
    left: 900px;
    margin-right: 100px;
}
.pro-img{
    animation: pro-img-animation linear forwards;
    animation-timeline: view();
    animation-range: enter;
}
@keyframes pro-img-animation{
    0% {opacity: 0; scale: .8;}
    30%, 100% {opacity: 1; scale: 1;}
}
.pro-texts2{
    position: relative;
    left: -600px;
}
.project-dis{
    color: antiquewhite;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    top: 50px;
    left: 700px;
}
.title2{
    color: antiquewhite;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    top: 850px;
}
.see1{
    color: rgb(162, 162, 162);
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    top: 290px;
    left: 700px;
    transition: .5s;
}
.see1:hover{
    color: rgb(248, 181, 94);
}
.title3{
    color: antiquewhite;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    top: 0px;
    left: 700px;
}
.contact{
    position: absolute;
    top: 500;
    left: 490;
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0px 34px;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
}
.contact:hover{
    border: 1px solid rgb(201, 92, 28);
    background: rgb(201, 92, 28);
    transition: .5s;
}
.project-div{
    position: absolute;
    top: 950px;
    height: 1800px;
}
.project1{
    position: relative;
}
.project2{
    position: relative;
    top: 450px;
    width: 100%;
}
.project3{
    position: relative;
    top: 900px;
    width: 100%;
}
.project4{
    position: relative;
    top: 1350px;
    width: 100%;
}
.socials{
    position: relative;
    top: 1600px;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.fa-brands{
    width: 28px;
    color: #d1d1d1;
}
.fa-brands:hover{
    text-shadow: 0 0 10px #fff;
    color: #fff;
}
.contact-me{
    position: relative;
    width: 100%;
    background-color: #d1d1d1;
    top: 1600px;
    left: -10px;
    padding-top: 30px;
    padding-left: 110px;
    padding-bottom: 30px;
}
.contact-font, .h5-contact-font{
    font-family: Arial, Helvetica, sans-serif;
}
.h5-contact-font{
    margin-top: 5px; 
    font-size: 12;
}
.h5-contact-font i{
    margin-right: 10px; /* Add spacing between icon and text */
}